<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cities</key>
		<array>
			<dict>
				<key>school</key>
				<array>
					<string>北京大学</string>
					<string>清华大学</string>
				</array>
				<key>city</key>
				<string>北京</string>
			</dict>
		</array>
		<key>state</key>
		<string>北京</string>
	</dict>
	<dict>
		<key>cities</key>
		<array>
			<dict>
				<key>school</key>
				<array>
					<string>上海交通大学</string>
					<string>复旦大学</string>
				</array>
				<key>city</key>
				<string>上海</string>
			</dict>
		</array>
		<key>state</key>
		<string>上海</string>
	</dict>
	<dict>
		<key>cities</key>
		<array>
			<dict>
				<key>school</key>
				<array>
					<string>天津大学</string>
					<string>南开大学</string>
				</array>
				<key>city</key>
				<string>天津</string>
			</dict>
		</array>
		<key>state</key>
		<string>天津</string>
	</dict>
	<dict>
		<key>cities</key>
		<array>
			<dict>
				<key>school</key>
				<array>
					<string>重庆大学</string>
					<string>重庆工商大学</string>
					<string>重庆交通大学</string>
					<string>重庆邮电大学</string>
				</array>
				<key>city</key>
				<string>重庆</string>
			</dict>
		</array>
		<key>state</key>
		<string>重庆</string>
	</dict>
	<dict>
		<key>cities</key>
		<array>
			<dict>
				<key>school</key>
				<array>
					<string>辽宁科技学院</string>
				</array>
				<key>city</key>
				<string>本溪</string>
			</dict>
			<dict>
				<key>school</key>
				<array>
					<string>辽宁工程技术大学</string>
				</array>
				<key>city</key>
				<string>阜新</string>
			</dict>
			<dict>
				<key>school</key>
				<array>
					<string>渤海大学</string>
				</array>
				<key>city</key>
				<string>锦州</string>
			</dict>
			<dict>
				<key>school</key>
				<array>
					<string>辽宁石油化工</string>
				</array>
				<key>city</key>
				<string>抚顺</string>
			</dict>
			<dict>
				<key>school</key>
				<array>
					<string>辽东学院</string>
				</array>
				<key>city</key>
				<string>丹东</string>
			</dict>
			<dict>
				<key>school</key>
				<array>
					<string>东北大学</string>
					<string>辽宁大学</string>
				</array>
				<key>city</key>
				<string>沈阳</string>
			</dict>
			<dict>
				<key>school</key>
				<array>
					<string>辽宁科技大学</string>
				</array>
				<key>city</key>
				<string>鞍山</string>
			</dict>
			<dict>
				<key>school</key>
				<array>
					<string>大连民族大学</string>
					<string>大连大学</string>
					<string>大连理工大学</string>
					<string>大连海事大学</string>
				</array>
				<key>city</key>
				<string>大连</string>
			</dict>
		</array>
		<key>state</key>
		<string>辽宁</string>
	</dict>
</array>
</plist>
